<table summary="Schools form fields">



<tr >
<td><%=f.label(:staff_category) %>*</td>
<td><%=f.text_field(:staff_category) %></td>
</tr>


<tr >
<td><%=f.label(:staff_department) %>*</td>
<td><%=f.text_area(:staff_department, :size=>"50*5") %></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><%=f.label(:first_name) %></td>
<td><%=f.text_area(:first_name, :size=>"50*5") %></td>
</tr>


<tr >
<td><%=f.label(:last_name) %>*</td>
<td><%=f.text_field(:last_name) %></td>
</tr>

</table>
