<%= link_to("<<Back to list", {:action=>"list"}) %>
<div>
<h2>Update stafffs</h2>
<%= form_for(:sdept, :url=>{:action=>"update", :id=>@sdept.id}) do |f| %>


<%= render(:partial=>"tabletofill", :locals=>{:f=>f}) %>



<p> * fields marked with asterisk are compulsary fields</p>


	<div>

	<%=submit_tag("Update staff info") %>

	</div>
<% end -%>
</div>

<div style="color:red">
	<% @sdept.errors.full_messages.each do |err| %>
    	*<%= err %><br />
    <% end %>
</div>