<% if !flash[:notice].to_i.blank? %>
<div>
<%= flash[:notice] %>
</div>
<% end -%>
	
	

<div>
	<h2>Staffs</h2>


	<table summary="staffs list">
		<tr>
		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>staff_category_id&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>staff_department_id&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>first_name&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>last_name&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>staff_number&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Gender&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>joining_date&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>qualification&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>experience_detail&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>experience_year&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>date-of_birth&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>blood_group&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>home_address_line1&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>home_address_line2&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>home_city&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>home_state&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>home_pincode&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>home_phone1&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>home_phone2&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>mobile_no1&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>mobile_no2&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>email_id1&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>email_id2&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>marital_status&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>photo&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>last_position_held&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>moved_from&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>remarks&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>is_department_admin&nbsp;&nbsp;&nbsp;&nbsp;</th>

		</tr>

		<% @staffs.each do |staff| %>

			<tr>
				<td><%=staff.id%></td>
				<td><%=staff.staff_category_id %></td>
				<td><%=staff.staff_department_id %></td>
				<td><%=staff.first_name%></td>
				<td><%=staff.last_name %></td>
				<td><%=staff.staff_number %></td>
				<td><%=staff.gender %></td>
				<td><%=staff.joining_date %></td>
				<td><%=staff.qualification %></td>
				<td><%=staff.experience_detail %></td>
				<td><%=staff.experience_year %></td>
				<td><%=staff.date_of_birth %></td>
				<td><%=staff.blood_group %></td>
				<td><%=staff.home_address_line1 %></td>
				<td><%=staff.home_address_line2 %></td>
				<td><%=staff.home_city %></td>
				<td><%=staff.home_state %></td>
				<td><%=staff.home_pincode %></td>
				<td><%=staff.home_phone1 %></td>	
				<td><%=staff.home_phone2 %></td>		
				<td><%=staff.mobile_no1 %></td>		
				<td><%=staff.mobile_no2 %></td>	
				<td><%=staff.email_id1 %></td>	
				<td><%=staff.email_id2 %></td>	
				<td><%=staff.marital_status %></td>	
				<td><%=staff.photo %></td>	
				<td><%=staff.last_position_held %></td>	
				<td><%=staff.moved_from %></td>	
				<td><%=staff.remarks	 %></td>	
				<td><%=staff.is_department_admin	 %></td>		
				<td>		

					<%=link_to("Show", {:action=>"show", :id=>staff.id}) %>
				<%= link_to("Edit", {:action=>"edit", :id=>staff.id}) %>
				<%= link_to("Delete", {:action=>"delete", :id=>staff.id}) %>



				</td>


			</tr>
		<% end %>
	</table>
</div>

<%= link_to("<<new staff>>", {:action=>"new"}) %>

