<%= link_to("<<Back to full list", {:action=>"list"}, :class=>"back-links") %>
<div class="sdept new">
<h2>Create sdepts</h2>
<%= form_for(:sdept, :url=>{:action=>"create"} ) do |f| %>




	<%= render(:partial=>"tabletofill", :locals=>{:f=>f}) %>


	<p> * fields marked with asterisk are compulsary fields</p>

		<div class="form_buttons">

		<%=submit_tag("Create sdept") %>

		</div>
<% end -%>
</div>

<div id="errors" style="color:red">
	<% @sdept.errors.full_messages.each do |err| %>
    	*<%= err %><br />
    <% end %>
</div>