<% if !flash[:notice].to_i.blank? %>
<div>
<%= flash[:notice] %>
</div>
<% end -%>
	
	

<div>
	<h2>Sticky notes</h2>



	<table summary="stickynotes list">
		<tr>
		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>stickynote title&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Subject&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Target Date&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Remindar set&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Priority&nbsp;&nbsp;&nbsp;&nbsp;</th>
		


		<!-- #@user.occasions.sort {|a,b| b.dateg <=> a.dateg }.each do |o| -->





		</tr>
		<% @stickynotes.order("target_date ASC").order("priority ASC").order("remind_me DESC").each do |stickynote| %>

			<tr>
				<td><%=stickynote.id%></td>
				<td><%=stickynote.title%></td>
				<td><%=stickynote.subject%></td>
				<td><%=stickynote.target_date %></td>
				<td><%=stickynote.remind_me %></td>
				<td><%=stickynote.priority %></td>
				
				<td>

					<%=link_to("Show", {:action=>"show", :id=>stickynote.id}) %>
				<%= link_to("Edit", {:action=>"edit", :id=>stickynote.id}) %>
				<%= link_to("Delete", {:action=>"delete", :id=>stickynote.id}) %>



				</td>


			</tr>
		<% end %>
	</table>
</div>

<%= link_to("<<new stickynote>>", {:action=>"new"}) %>

