<%= link_to("<<Back to full list", {:action=>"list"}, :class=>"back-links") %>
<div class="note new">
<h2>Create a new Sticky note</h2>
<%= form_for(:note, :url=>{:action=>"create"}) do |f| %>




	<%= render(:partial=>"form", :locals=>{:f=>f}) %>


	<p> * fields marked with asterisk are compulsary fields</p>

		<div class="form_buttons">

		<%=submit_tag("Create note") %>

		</div>
<% end -%>
</div>



<div id="errors" style="color:red">
	<% @note.errors.full_messages.each do |err| %>
    	*<%= err %><br />
    <% end %>
</div>

