<% if !flash[:notice].to_i.blank? %>
<div>
<%= flash[:notice] %>
</div>
<% end -%>
	
	

<div>
	<h2>Emergency alerts list</h2>



	<table summary="emergencyalerttypes list">
		<tr>
		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Emergency Alert&nbsp;&nbsp;&nbsp;&nbsp;</th>
		
		
		</tr>
		<% @emergencyalerttypes.each do |emergencyalerttype| %>

			<tr>
				<td><%=emergencyalerttype.id%></td>
				<td><%=emergencyalerttype.name%></td>
				
				
				<td>

					<%=link_to("Show", {:action=>"show", :id=>emergencyalerttype.id}) %>
				<%= link_to("Edit", {:action=>"edit", :id=>emergencyalerttype.id}) %>
				<%= link_to("Delete", {:action=>"delete", :id=>emergencyalerttype.id}) %>



				</td>


			</tr>
		<% end %>
	</table>
</div>

<%= link_to("<<new Emergency Alert>>", {:action=>"new"}) %>

