<% if !flash[:notice].to_i.blank? %>
<div>
<%= flash[:notice] %>
</div>
<% end -%>
	
	

<div>
	<h2>Exam Type</h2>



	<table summary="extypes list">
		<tr>
		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>ExamType&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Details&nbsp;&nbsp;&nbsp;&nbsp;</th>
		
		</tr>
		<% @extypes.each do |extype| %>

			<tr>
				<td><%=extype.id%></td>
				<td><%=extype.name%></td>
				<td><%=extype.detail%></td>
				
				<td>

					<%=link_to("Show", {:action=>"show", :id=>extype.id}) %>
				<%= link_to("Edit", {:action=>"edit", :id=>extype.id}) %>
				<%= link_to("Delete", {:action=>"delete", :id=>extype.id}) %>



				</td>


			</tr>
		<% end %>
	</table>
</div>

<%= link_to("<<new ExamType>>", {:action=>"new"}) %>

