<% if !flash[:notice].to_i.blank? %>
<div style="color:green">
<%= flash[:notice] %>
</div>
<% end -%>
	
	



<h1>Showing ExamType <%=@extype.name %></h1>
<%= link_to("<<Back to full list", {:action=>"list"}) %>
<div>
	<ul>
	<li><b>ID</b> <%=@extype.id%></li>
	<li><b>ExamType</b>  <%=@extype.name%></li>
	<li><b>Detail</b>  <%=@extype.detail %></li>
	
	</ul>

</div>

<%= link_to("update>>", {:action=>"edit", :id=>@extype.id}) %>