<% if !flash[:notice].to_i.blank? %>
<div style="color:green">
<%= flash[:notice] %>
</div>
<% end -%>

<h1>Showing Competition Alert <%=@comalert.name %></h1>
<%= link_to("<<Back to full list", {:action=>"list"}) %>
<div>
	<ul>
	<li><b>ID</b> <%=@comalert.id%></li>
	<li><b>Competition Alert</b>  <%=@comalert.name%></li>
	
	
	</ul>

</div>

<%= link_to("update>>", {:action=>"edit", :id=>@comalert.id}) %>