<% if !flash[:notice].to_i.blank? %>
<div>
<%= flash[:notice] %>
</div>
<% end -%>
	
	

<div>
	<h2>Alerts list</h2>



	<table summary="alerttype1s list">
		<tr>
		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Alert&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Details&nbsp;&nbsp;&nbsp;&nbsp;</th>
		
		</tr>
		<% @alerttype1s.each do |alerttype1| %>

			<tr>
				<td><%=alerttype1.id%></td>
				<td><%=alerttype1.name%></td>
				<td><%=alerttype1.detail%></td>
				
				<td>

					<%=link_to("Show", {:action=>"show", :id=>alerttype1.id}) %>
				<%= link_to("Edit", {:action=>"edit", :id=>alerttype1.id}) %>
				<%= link_to("Delete", {:action=>"delete", :id=>alerttype1.id}) %>



				</td>


			</tr>
		<% end %>
	</table>
</div>

<%= link_to("<<new Alert>>", {:action=>"new"}) %>

