<table summary="staff categories form fields">



<tr >
<td><%=f.label(:name) %>*</td>
<td><%=f.text_field(:name) %></td>
</tr>


<tr >
<td><%=f.label(:department_alias) %>*</td>
<td><%=f.text_area(:departemnt_alias, :size=>"50*5") %></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

</tr>
<tr>
<td><%=f.label(:description) %></td>
<td><%=f.text_area(:description	, :size=>"50*5") %></td>
</tr>


<tr >
<td><%=f.label(:department_code) %>*</td>
<td><%=f.text_field(:department_code) %></td>
</tr>


<tr >
<td><%=f.label(:remarks) %></td>
<td><%=f.text_area(:remarks) %></td>
</tr>


<tr >
<td><%=f.label(:status) %></td>
<td><%=f.check_box(:status) %></td>
</tr>


</table>
