<% if !flash[:notice].to_i.blank? %>
<div style="color:green">
<%= flash[:notice] %>
</div>
<% end -%>
	
	

<div>
	<h2>Staff Departments</h2>


	


	<table summary="staffdepartments list">
		<tr>
		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>staff department&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>department_alias&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>department_code&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>description&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>status&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>remarks&nbsp;&nbsp;&nbsp;&nbsp;</th>
		
		</tr>
		<% @staffdepartments.each do |staffdepartment| %>

			<tr>
				<td><%=staffdepartment.id%></td>
				<td><%=staffdepartment.name%></td>
				<td><%=staffdepartment.departemnt_alias%></td>
				<td><%=staffdepartment.department_code %></td>
				<td><%=staffdepartment.description %></td>
				<td><%=staffdepartment.status %></td>
				<td><%=staffdepartment.remarks %></td>
				
				<td>

					<%=link_to("Show", {:action=>"show", :id=>staffdepartment.id}) %>
					<%= link_to("Edit", {:action=>"edit", :id=>staffdepartment.id}) %>
					<%= link_to("Delete", {:action=>"delete", :id=>staffdepartment.id}) %>
				</td>
			</tr>
		<% end %>
	</table>
</div>

<%= link_to("<<new staff department>>", {:action=>"new"}) %>

