<% if !flash[:notice].to_i.blank? %>
<div style="color:blue">
<%= flash[:notice] %>
</div>
<% end -%>
	
	



<h1>Showing Record of <%=@sdept.name %> from staff department</h1>
<%= link_to("<<Back to full list", {:action=>"list"}) %>
<div>
<div>

<ul>
<li><b>ID</b> <%=@sdept.id%></li>
<li><b>name</b>  <%=@sdept.name%></li>
<li><b>department_alias</b>  <%=@sdept.departemnt_alias %></li>
<li><b>department_code</b>  <%=@sdept.department_code %></li>
<li><b>description</b>  <%=@sdept.description %></li>
<li><b>status</b>  <%=@sdept.status %></li>
<li><b>remarks</b>  <%=@sdept.remarks %></li>

</ul>

</div>

<%= link_to("update>>", {:action=>"edit", :id=>@sdept.id}) %>