<%= link_to("<<Back to list", {:action=>"list"}) %>
<div >
<h2>Update Section</h2>
<%= form_for(:sect, :url=>{:action=>"update", :id=>@sect.id}) do |f| %>


<%= render(:partial=>"form", :locals=>{:f=>f}) %>



<p> * fields marked with asterisk are compulsary fields</p>


	<div>

	<%=submit_tag("Update Section info") %>

	</div>
<% end -%>
</div>

<div style="color:red">
	<% @sect.errors.full_messages.each do |err| %>
    	*<%= err %><br />
    <% end %>
</div>