<% if !flash[:notice].to_i.blank? %>
<div class="notice">
<%= flash[:notice] %>
</div>
<% end -%>
	
	

<div class="notes list">
	<h2>Sections List</h2>



	<table class="listing" summary="notes list">
		<tr class="header">
		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Section&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Standard ID&nbsp;&nbsp;&nbsp;&nbsp;</th>
		
		</tr>
		<% @notes.each do |note| %>

			<tr>
				<td><%=note.id%></td>
				<td><%=note.name%></td>
				<td class="center"><%=note.standard_id%></td>
				
				
				<td class="actions">

					<%=link_to("Show", {:action=>"show", :id=>note.id}, :class=>"action show") %>
				<%= link_to("Edit", {:action=>"edit", :id=>note.id}, :class=>"action edit") %>
				<%= link_to("Delete", {:action=>"delete", :id=>note.id}, :class=>"action delete") %>



				</td>


			</tr>
		<% end %>
	</table>
</div>

<%= link_to("<<new Section>>", {:action=>"new"}) %>

