<% if !flash[:notice].to_i.blank? %>
<div>
<%= flash[:notice] %>
</div>
<% end -%>
	
	

<div>
	<h2>Sections List</h2>



	<table summary="sects list">
		<tr>
		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Section&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Standard ID&nbsp;&nbsp;&nbsp;&nbsp;</th>
		
		</tr>
		<% @sects.each do |sect| %>

			<tr>
				<td><%=sect.id%></td>
				<td><%=sect.name%></td>
				<td><%=sect.standard_id%></td>
				
				
				<td>

					<%=link_to("Show", {:action=>"show", :id=>sect.id}) %>
				<%= link_to("Edit", {:action=>"edit", :id=>sect.id}) %>
				<%= link_to("Delete", {:action=>"delete", :id=>sect.id}) %>



				</td>


			</tr>
		<% end %>
	</table>
</div>

<%= link_to("<<new Section>>", {:action=>"new"}) %>

