<% if !flash[:notice].to_i.blank? %>
<div style="color:green">
<%= flash[:notice] %>
</div>
<% end -%>
	
	



<h1>Showing Section <%=@section.name %></h1>
<%= link_to("<<Back to full list", {:action=>"list"}) %>
<div>
	<ul>
	<li><b>ID</b> <%=@section.id%></li>
	<li><b>Section</b>  <%=@section.name%></li>
	<li><b>Standard_Id</b>  <%=@section.standard_id %></li>
	

</div>

<%= link_to("update>>", {:action=>"edit", :id=>@section.id}) %>