<%= link_to("<<Back to list", {:action=>"list"}) %>
<div >
<h2>Update Event Alert info</h2>
<%= form_for(:evalert, :url=>{:action=>"update", :id=>@evalert.id}) do |f| %>


<%= render(:partial=>"form", :locals=>{:f=>f}) %>



<p> * fields marked with asterisk are compulsary fields</p>


	<div>

	<%=submit_tag("Update Event Alert info") %>

	</div>
<% end -%>
</div>

<div style="color:red">
	<% @evalert.errors.full_messages.each do |err| %>
    	*<%= err %><br />
    <% end %>
</div>