<% if !flash[:notice].to_i.blank? %>
<div>
<%= flash[:notice] %>
</div>
<% end -%>
	
	

<div>
	<h2>Event alerts list</h2>



	<table summary="evalerts list">
		<tr>
		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Event Alert&nbsp;&nbsp;&nbsp;&nbsp;</th>
		
		
		</tr>
		<% @evalerts.each do |evalert| %>

			<tr>
				<td><%=evalert.id%></td>
				<td><%=evalert.name%></td>
				
				
				<td>

					<%=link_to("Show", {:action=>"show", :id=>evalert.id}) %>
				<%= link_to("Edit", {:action=>"edit", :id=>evalert.id}) %>
				<%= link_to("Delete", {:action=>"delete", :id=>evalert.id}) %>



				</td>


			</tr>
		<% end %>
	</table>
</div>

<%= link_to("<<new Event Alert>>", {:action=>"new"}) %>

