<table summary="Staffs form fields">



<tr >
<td><%=f.label(:name) %>*</td>
<td><%=f.text_field(:name) %></td>
</tr>


<tr >
<td><%=f.label(:description) %></td>
<td><%=f.text_area(:description, :size=>"50*5") %> </td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>

<tr>
<td><%=f.label(:status) %></td>
<td><%=f.check_box(:status, :size=>"50*5") %></td>
</tr>





</table>
