<%= link_to("<<Back to list", {:action=>"list"}) %>
<div>
	<h2>Update staffcategory categories</h2>

	<%= form_for(:staffcategory, :url=>{:action=>
		"update", :id=>@staffcategory.id} ) do |f| %>


	<%= render(:partial=>"form", :locals=>{:f=>f}) %>



	<p> * fields marked with asterisk are compulsary fields</p>


	<div>

	<%=submit_tag("Update staffcategory category info") %>

	</div>
<% end -%>
</div>

<div style="color:red">
	<% @staffcategory.errors.full_messages.each do |err| %>
    	*<%= err %><br />
    <% end %>
</div>