<% if !flash[:notice].to_i.blank? %>
<div>
<%= flash[:notice] %>
</div>
<% end -%>
	
	
<div>
	<h2>Staffs categories</h2>




	<table summary="Staffs list">
		<tr>
		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Staff categories&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>description	&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Status&nbsp;&nbsp;&nbsp;&nbsp;</th>
		

		</tr>
		<% @scats.each do |scat| %>

			<tr>
				<td><%=scat.id%></td>
				<td><%=scat.name%></td>
				<td><%=scat.description %></td>
				<td><%=scat.status %></td>
				
				<td>

					<%=link_to("Show", {:action=>"show", :id=>scat.id}) %>
				<%= link_to("Edit", {:action=>"edit", :id=>scat.id}) %>
				<%= link_to("Delete", {:action=>"delete", :id=>scat.id}) %>



				</td>


			</tr>
		<% end %>
	</table>
</div>

<%= link_to("<<new scat category>>", {:action=>"new"}) %>

