<%= link_to("<<Back to full list", {:action=>"list"}) %>
<div>
<h2>Create scat category</h2>
<%= form_for(:scat, :url=>{:action=>"create"}) do |f| %>




	<%= render(:partial=>"form", :locals=>{:f=>f}) %>


	<p> * fields marked with asterisk are compulsary fields</p>

		<div>

		<%=submit_tag("Create scat category") %>

		</div>
<% end -%>
</div>

<div style="color:red">
	<% @scat.errors.full_messages.each do |err| %>
    	*<%= err %><br />
    <% end %>
</div>