<% if !flash[:notice].to_i.blank? %>
<div style="color:blue">
<%= flash[:notice] %>
</div>
<% end -%>

<h1>Showing Record of <%=@staffcategory.name %> from Staff categories</h1>
<%= link_to("<<Back to full list", {:action=>"list"}) %>
<div>
<div>

<ul>
<li><b>ID</b> <%=@staffcategory.id%></li>
<li><b>name</b>  <%=@staffcategory.name%></li>
<li><b>description</b>  <%=@staffcategory.description %></li>
<li><b>status</b>  <%=@staffcategory.status %></li>

</ul>

</div>

<%= link_to("update>>", {:action=>"edit", :id=>@staffcategory.id}) %>
