<table summary="Schools form fields">



<tr >
<td><%=f.label(:name) %>*</td>
<td><%=f.text_field(:name) %></td>
</tr>


<tr >
<td><%=f.label(:section_Id) %>*</td>
<td><%=f.text_field(:section_id) %></td>
</tr>


<tr >
<td><%=f.label(:mark_ID) %>*</td>
<td><%=f.text_field(:mark) %></td>
</tr>


<tr >
<td><%=f.label(:teacher_ID) %>*</td>
<td><%=f.text_field(:teacher) %></td>
</tr>






</table>
