<%= link_to("<<Back to list", {:action=>"list"}) %>
<div >
<h2>Update Subject account</h2>
<%= form_for(:sub, :url=>{:action=>"update", :id=>@sub.id}) do |f| %>


<%= render(:partial=>"form", :locals=>{:f=>f}) %>



<p> * fields marked with asterisk are compulsary fields</p>


	<div>

	<%=submit_tag("Update Subject info") %>

	</div>
<% end -%>
</div>

<div style="color:red">
	<% @sub.errors.full_messages.each do |err| %>
    	*<%= err %><br />
    <% end %>
</div>