<% if !flash[:notice].to_i.blank? %>
<div>
<%= flash[:notice] %>
</div>
<% end -%>
	
	

<div>
	<h2>Subjects list</h2>



	<table summary="subjects list">
		<tr>
		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Subject&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Section_Id&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>mark&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>teacher&nbsp;&nbsp;&nbsp;&nbsp;</th>
		
		</tr>
		<% @subjects.each do |subject| %>

			<tr>
				<td><%=subject.id%></td>
				<td><%=subject.name%></td>
				<td><%=subject.section_id %></td>
				<td><%=subject.mark %></td>
				<td><%=subject.teacher %></td>
				
				<td>

					<%=link_to("Show", {:action=>"show", :id=>subject.id}) %>
				<%= link_to("Edit", {:action=>"edit", :id=>subject.id}) %>
				<%= link_to("Delete", {:action=>"delete", :id=>subject.id}) %>



				</td>


			</tr>
		<% end %>
	</table>
</div>

<%= link_to("<<new Subject a/c>>", {:action=>"new"}) %>

