<%= link_to("<<Back to full list", {:action=>"list"}) %>
<div>
<h2>Create a new Subject account</h2>
<%= form_for(:note, :url=>{:action=>"create"}) do |f| %>




	<%= render(:partial=>"form", :locals=>{:f=>f}) %>


	<p> * fields marked with asterisk are compulsary fields</p>

		<div>

		<%=submit_tag("Create Subject a/c") %>

		</div>
<% end -%>
</div>

<div style="color:red">
	<% @note.errors.full_messages.each do |err| %>
    	*<%= err %><br />
    <% end %>
</div>