<% if !flash[:notice].to_i.blank? %>
<div style="color:green">
<%= flash[:notice] %>
</div>
<% end -%>
	
	



<h1>Showing Subject <%=@subject.name %></h1>
<%= link_to("<<Back to full list", {:action=>"list"}) %>
<div>
	<ul>
	<li><b>ID</b> <%=@subject.id%></li>
	<li><b>Subject</b>  <%=@subject.name %></li>
	<li><b>Section id</b>  <%=@subject.section_id %></li>
	<li><b>mark id</b>  <%=@subject.mark %></li>
	<li><b>teacher id</b>  <%=@subject.teacher %></li>
	</ul>

</div>

<%= link_to("update>>", {:action=>"edit", :id=>@subject.id}) %>