<%= link_to("<<Back to list", {:action=>"list"}) %>
<div>
<h2>Update Board</h2>
<%= form_for(:board, :url=>{:action=>"update", :id=>@board.id}) do |f| %>


<%= render(:partial=>"form", :locals=>{:f=>f}) %>



<p> * fields marked with asterisk are compulsary fields</p>


	<div>

	<%=submit_tag("Update Board info") %>

	</div>
<% end -%>
</div>

<div style="color:red">
	<% @board.errors.full_messages.each do |err| %>
    	*<%= err %><br />
    <% end %>
</div>