<%= link_to("<<Back to list", {:action=>"list"}) %>
<div >
<h2>Update Standard</h2>
<%= form_for(:standard, :url=>{:action=>"update", :id=>@standard.id} ) do |f| %>


<%= render(:partial=>"form", :locals=>{:f=>f}) %>



<p> * fields marked with asterisk are compulsary fields</p>


	<div>

	<%=submit_tag("Update Standard info") %>

	</div>
<% end -%>
</div>

<div style="color:red">
	<% @standard.errors.full_messages.each do |err| %>
    	*<%= err %><br />
    <% end %>
</div>