<% if !flash[:notice].to_i.blank? %>
<div>
<%= flash[:notice] %>
</div>
<% end -%>
	
	

<div>
	<h2>Standards</h2>



	<table summary="standards list">
		<tr>
		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Standard&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>School ID&nbsp;&nbsp;&nbsp;&nbsp;</th>
		
		</tr>
		<% @standards.each do |standard| %>

			<tr>
				<td><%=standard.id%></td>
				<td><%=standard.name%></td>
				<td><%=standard.school_id%></td>
				
				<td>

					<%=link_to("Show", {:action=>"show", :id=>standard.id}) %>
				<%= link_to("Edit", {:action=>"edit", :id=>standard.id}) %>
				<%= link_to("Delete", {:action=>"delete", :id=>standard.id}) %>



				</td>


			</tr>
		<% end %>
	</table>
</div>

<%= link_to("<<new Standard>>", {:action=>"new"}) %>

