<% if !flash[:notice].to_i.blank? %>
<div>
<%= flash[:notice] %>
</div>
<% end -%>
	
	

<div>
	<h2>Standards</h2>



	<table summary="notes list">
		<tr>
		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>Standard&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>School ID&nbsp;&nbsp;&nbsp;&nbsp;</th>
		
		</tr>
		<% @notes.each do |note| %>

			<tr>
				<td><%=note.id%></td>
				<td><%=note.name%></td>
				<td><%=note.school_id%></td>
				
				<td>

					<%=link_to("Show", {:action=>"show", :id=>note.id}) %>
				<%= link_to("Edit", {:action=>"edit", :id=>note.id}) %>
				<%= link_to("Delete", {:action=>"delete", :id=>note.id}) %>



				</td>


			</tr>
		<% end %>
	</table>
</div>

<%= link_to("<<new Standard>>", {:action=>"new"}) %>

