<h1>edit template</h1>
<%= link_to("<<Back to list", {:action=>"list"}, :class=>"back-links") %>
<div class="school Update">
<h2>Update schools</h2>
<%= form_for(:school, :url=>{:action=>"update", :id=>@school.id}) do |f| %>


<%= render(:partial=>"tabletofill", :locals=>{:f=>f}) %>



<p> * fields marked with asterisk are compulsary fields</p>


	<div class="form_buttons">

	<%=submit_tag("Update school info") %>

	</div>
<% end -%>
</div>

<div id="errors" style="color:red">
	<% @school.errors.full_messages.each do |err| %>
    	*<%= err %><br />
    <% end %>
</div>