<h1>edit template</h1>
<%= link_to("<<Back to list", {:action=>"list"}) %>
<div>
<h2>Update schools</h2>
<%= form_for(:school, :url=>{:action=>"update", :id=>@school.id}) do |f| %>


<%= render(:partial=>"form", :locals=>{:f=>f}) %>



<p> * fields marked with asterisk are compulsary fields</p>


	<div>

	<%=submit_tag("Update school info") %>

	</div>
<% end -%>
</div>

<div style="color:red">
	<% @school.errors.full_messages.each do |err| %>
    	*<%= err %><br />
    <% end %>
</div>