<% if !flash[:notice].to_i.blank? %>
<div style="color:blue">
<%= flash[:notice] %>
</div>
<% end -%>
	
	



<h1>Showing Record of <%=@school.name %> from SchoolDirectory</h1>
<%= link_to("<<Back to full list", {:action=>"list"}) %>
<div>
<div>

<ul>
<li><b>ID</b> <%=@school.id%></li>
<li><b>name</b>  <%=@school.name%></li>
<li><b>address_line1</b>  <%=@school.address_line1 %></li>
<li><b>address_line2</b>  <%=@school.address_line2 %></li>
<li><b>city</b>  <%=@school.city %></li>
<li><b>state</b>  <%=@school.state %></li>
<li><b>pincode</b>  <%=@school.pincode %></li>
<li><b>webaddress</b>  <%=@school.webaddress %></li>
<li><b>email_id</b>  <%=@school.email_id %></li>
<li><b>landline_no1</b>  <%=@school.landline_no1 %></li>
<li><b>landline_no2</b>  <%=@school.landline_no2 %></li>
<li><b>fax_no1</b>  <%=@school.fax_no1 %></li>
<li><b>fax_no2</b>  <%=@school.fax_no2 %></li>
<li><b>mobile_no1</b>  <%=@school.mobile_no1 %></li>
<li><b>mobile_no2</b>  <%=@school.mobile_no2 %></li>
<li><b>affliated</b>  <%=@school.affliated %></li>
<li><b>affliated_to_board</b>  <%=@school.affliated_to_board %></li>
<li><b>established_year</b>  <%=@school.established_year %></li>
<li><b>Class</b>  <%=@school.classe %></li>
<li><b>medium</b>  <%=@school.medium %></li>
</ul>

</div>

<%= link_to("update>>", {:action=>"edit", :id=>@school.id}) %>